<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="datasource.xml" />


	<bean class="com.spring.hibernate.dao.VaccineDAO" id="vaccineDAO">
		<constructor-arg ref="lsfb" />
	</bean>
	<bean id="lsfb" class ="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	     <property name="hibernateProperties">
			 <props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
<!--   <prop key="hibernate.connection.username">root</prop> -->
<!--  <prop key="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</prop> -->
	<!--   <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/spring_examples</prop> -->
				<!-- <prop key="hibernate.connection.password">rootmary</prop> -->
			 </props>
		</property>
		   <property name="annotatedClasses">
			  <list>
				<value>com.spring.hibernate.dto.VaccineDTO</value>
			  </list>
		   </property>
		<property name="dataSource" ref="driverManagerDatasource"></property>
	</bean>

	<!-- <bean -->
	<!-- class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" -->
	<!-- id="lsfb"> -->
	<!-- <property name="configLocations" value="resources/hibernate.cfg.xml"></property> -->

	<!-- </bean> -->
</beans>